/* Cloud.css */
@keyframes moveCloud {
    0% {
      transform: translateX(3px); /* Move 5px to the right */
    }
    50% {
      transform: translateX(-3px); /* Move 5px to the left */
    }
    100% {
      transform: translateX(3px); /* Move 5px to the right */
    }
  }
  
  .cloud {
    animation: moveCloud 2s linear infinite; /* Apply animation to the cloud image */
  }
  
  .cloud-left {
    animation: moveCloud 2s linear infinite reverse; /* Apply animation to the cloudleft image */
  }
  